<%= form_with(model: panda, local: true) do |form| %>
  <% if panda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(panda.errors.count, "error") %> prohibited this panda from being saved:</h2>

      <ul>
      <% panda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
